@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,600&display=swap');

.logo-img{
    width: auto;
    height: auto;
    max-width : 150px;
    align-self: center;
    margin-left : 100px; 
}

.nav-items{
    margin-right: 100px;
    font-family: 'Lora', serif;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    /* font-weight: 400; */
    font-stretch: normal;
    font-size: 1.125rem;
}

.nav-srv-btn{
    border: 1px solid rgb(145,198,145);
    border-radius: 50px;
    color: rgb(145,198,145)!important;
    height: 50px;
    width: 150px;
    text-align: center;
    line-height: 32px;
}
.nav-bar{
    padding: 1rem 0 !important;
}

.nav-li{
    margin-right: 50px;;
}